body {
	background-color: #eeeeee;
}
.header {
	text-align: center;
	margin-top: 50px;
}
.header h1 {
	font-size: 8rem;
	font-family: 'Prompt', sans-serif;
	color: #888;
}
.header p{
	font-size: 2.5rem;
	padding-top: 10px;
	font-family: 'Prompt', sans-serif;
	font-weight: 200;
	color: #aaa;
}
.list-container {
	margin-top: 40px;
	padding-top: 15px;
	height: 800px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 300px;
	position: relative;
}
.item-container {
	border: 1px solid black;
}
.item-container .delete {
	border: 1px solid;
	float: right;
	font-size: 20px;
}
.item-container .check {
	border:1px solid;
	font-size: 20px;
}
.item-description p {
	margin-top: 10px;
	font-size: 20px;
}
.item-strike {
	text-decoration: line-through;
}

.undo-btn {
	border: 1px solid black;
}

.undo-container {
	margin-top: 300px;
}
.undo-container p {
	font-size: 20px;
}

body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    text-align: center;
    float: none;
    border: 1px solid black;
}

.add-item {
	width: 100%;
	border:1px solid;
}

ul {
	list-style: none;
	margin: none;
	display: none;
}
