body {
	background-color: #eeeeee;
}
.header {
	text-align: center;
	margin-top: 50px;
}
.header h1 {
	font-size: 8rem;
	font-family: 'Prompt', sans-serif;
	color: #888;
}
.header p{
	font-size: 2.5rem;
	padding-top: 10px;
	font-family: 'Prompt', sans-serif;
	font-weight: 200;
	color: #aaa;
}
.list-container {
	margin-top: 40px;
	padding-top: 15px;
	height: 800px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 300px;
	position: relative;
}
.item-container {
	border: 1px solid black;
}
.item-container .delete {
	border:1px solid;
	float: right;
}
.item-container .check {
	border:1px solid;
}
.item-description p {
	margin-top: 10px;
	font-size: 20px;
}
.item-strike {
	text-decoration: line-through;
}